@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.1em;
}

body{
    /* Essa é a configuração mínima da minha altura e essa configuração do dvh serva também para questão da barra lateral no celular */
    min-height: 100dvh;
}

header{
    height: 80px;
    background-color: rgb(96, 34, 116);
}

.cabecaprincipal{
    display: flex;
    padding: 15px;
    justify-content: space-between;
    color: white;
}

.cabecaprincipal a{
    text-decoration: none;
    color: rgb(251, 251, 251);
}

.cabeca001{
    margin-right: 15px;
}

.cabeca002{
    /* display: flex; */
    gap: 15px;
}

.cabeca001 {
    margin: 10px;
}

.cabeca002 a{
    display: inline-block;
    transition: color 0.3s ease, transform 0.3s ease;
    margin: 10px;
}

.cabeca002 a:hover{
    color: rgb(184, 4, 238);
    transform: scale(1.2);
}

.cabeca003{
    display: none;
}

.apresentacao{
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: space-between;
    background-color: rgb(36, 35, 36);
}


.blocoesquerda h1{
    font-size: 1.3em;
    color: white;
    text-align: center;
}

.blocoesquerda h2{
    text-align: center;
    color: rgb(90, 4, 218);
}

.blocoesquerda p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    line-height: 35px;
    text-indent: 15px;
}

.blocoesquerda a{
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px 0px 20px;
    align-items: center;
    margin-top: 25px;
}

.blocoesquerda a:hover{
    cursor: pointer;

}

#pdfdownload{
    width: 100px;
}


@media screen and (max-width: 520px) {

}

@media screen and (max-width: 720px) {
    .cabeca001, .cabeca002{
        display: none;
    }

    .cabeca003{
        width: 100%;
        justify-content: center;
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
    }

    .cabeca003 a{
        display: inline-block;
        transition: color 0.3s ease, transform 0.3s ease;
    }

    .cabeca003  a:hover{
        color: rgb(9, 132, 226);
        transform: scale(1.1);
    }
}

@media screen and (max-width: 908px) {
    .apresentacao{
        display: grid;
        grid-template-columns: 1fr;
        justify-content: space-between;
        background-color: rgb(36, 35, 36);
    }

    .blocodireita{
        text-align: center;
    }
}